Source: io.elementary.settings.a11y
Section: x11
Priority: optional
Maintainer: elementary OS Team <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libglib2.0-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               libswitchboard-3-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-a11y

Package: io.elementary.settings.a11y
Architecture: any
Depends: gnome-settings-daemon, io.elementary.settings, onboard, ${misc:Depends}, ${shlibs:Depends}
Enhances: io.elementary.settings
Description: Accessibility plug for Switchboard
 Enable more accessibility feature of the desktop
