Source: switchboard-plug-a11y
Section: x11
Priority: optional
Maintainer: elementary OS Team <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libglib2.0-dev,
               libgranite-dev,
               libgtk-3-dev,
               libswitchboard-2.0-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-a11y

Package: switchboard-plug-a11y
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: switchboard
Description: Accessibility plug for Switchboard
 Enable more accessibility feature of the desktop
